@model App.Domain.Core.Entities.Users.Operator;

<div class="container">
    <h2>ورود</h2>
    <form asp-action="Login" method="post">
        <div class="form-group">
            <label for="username">نام‌کاربری:</label>
            <input type="text" id="username" name="username" asp-for="UserName" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="password">رمز عبور:</label>
            <input type="password" id="password" name="password" asp-for="Password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">ورود</button>
    </form>
</div>

<style>

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: right;
    width: 50%;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

</style>