@model List<App.Domain.Core.Entities.Inspection.TimeOfDaySlot>

@{
	ViewData["Title"] = "Choose Time";
}

<h2>زمان را انتخاب کنید</h2>

<form asp-action="ScheduleAppointment" method="post">
	<div id="time-slots">
		<p>لطفا یک گزینه انتخاب نمایید:</p>
		<div>
				@foreach (var slot in Model)
				{
						<label for="@slot.Id">
						<input type="radio" name="timeSlotId" id = "@slot.Id" value="@slot.Id"/>
						@slot.Time.ToString(@"hh\:mm")
						</label>
				}
		</div>
		</div>
	</div>
	<div>
		<button type="submit">ثبت</button>
	</div>
</form>
<style>




		div {
			text-align: center;
		}


		input[type="radio"] + label {
			display: inline-block;
			margin-right: 10px;
		}


		button {
			display: block; 
			margin: 20px auto 0; 
		}

</style>