@model App.Domain.Core.Entities.Vehicle.Car
@using App.Domain.Core.Enums
@using App.Infra.Data.Db

<h2>افزودن خودرو جدید</h2>

<form asp-action="Create" method = "Post">
     <div class="form-group">
        <input asp-for = "UserId" type = "hidden" value = "@InMemoryDb.CurrentUser.Id"/>
    </div>
    <div class="form-group">
        <label asp-for = "Model" class="control-label">مدل خودرو</label>
        <input asp-for = "Model" class="form-control" />
        <span asp-validation-for = "Model" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for = "Make" class="control-label">سازنده خودرو</label>
        <select asp-for = "Make" class="form-control">
            <option value="">انتخاب کنید</option>
            @foreach (var make in Enum.GetValues(typeof(MakeEnum)))
            {
                <option value="@make">@{
                        string statusText = make switch
                        {
                            MakeEnum.A => "ایران خودرو",
                            MakeEnum.B => "سایپا"
                        };
                    }
                    @statusText
                    </option>
            }
        </select>
        <span asp-validation-for="Make" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label">سال تولید</label>
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LicensePlate" class="control-label">شماره پلاک</label>
        <input asp-for="LicensePlate" class="form-control" />
        <span asp-validation-for="LicensePlate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastInspectionDate" class="control-label">تاریخ آخرین معاینه</label>
        <input asp-for="LastInspectionDate" class="form-control" />
        <span asp-validation-for="LastInspectionDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">ذخیره</button>
    <a asp-action="Index" class="btn btn-secondary">بازگشت</a>
</form>

